.nav {
  border-bottom: 1px solid rgb(220,220,220);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav i {
  padding-right: 5px;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

i.channel-icon {
  font-size: 20px;
}

.chat-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;  /*like setting height to 100%*/
}
