.messages {
  margin-top: 20px;
  overflow: scroll;    /*No need to set height as this is flexed*/
}

.message {
  display: flex;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 20px;
}
